
@model IEnumerable<ClassesOfStudent>
<h1>Student Home View</h1>
@using MyFAPWebApp.Models.DTO
@using MyFAPWebApp.Models
@{
    Mark mark = ViewBag.Mark;
    double avg = 0;
    string avg_string = "";
    string status = "";
    if (mark != null)
    {
        avg = ViewBag.Avg;
        avg_string = avg.ToString();
        status = ViewBag.Status;
    }
    string studentID = ViewBag.StudentID;
}
<div>Hello @studentID</div>
@foreach (var item in Model)
{
    <div>
    <a href="StudentHome?student_id=@item.StudentId&&subject_id=@item.SubjectId">@item.SubjectName (@item.SubjectId) (@item.ClassName)</a>
    </div>
}
@if (mark != null)
{
    <div>
        <div>Lab: @mark.Lab</div>
        <div>Progrest Test: @mark.ProgrestTest</div>
        <div>PE:@mark.Pe</div>
        <div>FE:@mark.Fe</div>
        <div>AVERAGE:@avg_string</div>
        <div>STATUS: @status</div>
    </div>
}
else
{
    <div>
        <div>Lab:</div>
        <div>Progrest Test:</div>
        <div>PE:</div>
        <div>FE:</div>
        <div>AVERAGE:</div>
        <div>STATUS:</div>
    </div>
}

